* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  display: grid;
  place-items: center;

  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #000;
}
.maindiv {
  border: 1px solid white;
  padding: 20px;
  border-radius: 20px;
  display: flex;

  gap: 20px;
}
.history {
  /* background-color: #f0eeee; */
  height: 350px;
  width: 20rem;
  border-radius: 20px;
  border: 1px solid white;
  padding: 10px 0;
}
.history ul {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  list-style: none;
  color: white;

  padding-left: 15px;
}

button {
  text-decoration: none;
  position: relative;
  border: none;
  font-size: 14px;
  font-family: inherit;
  margin: 10px 5px;
  padding: 5px;
  cursor: pointer;
  color: #fff;
  width: 5em;
  height: 3em;
  line-height: 2em;
  text-align: center;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 300%;
  border-radius: 100px;
  z-index: 1;
}

button:hover {
  animation: abhi 8s linear infinite;
  border: none;
}

@keyframes abhi {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 400%;
  }
}

button:before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 100px;
  transition: 1s;
}

button:hover::before {
  filter: blur(20px);
}

button:active {
  background: linear-gradient(32deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
}

input {
  font-family: inherit;
  font-size: inherit;
  background-color: #fff;
  border: none;
  color: #000;
  padding: 0.7rem 7.5rem 0.7rem 1.5rem;
  border-radius: 100px;
  /* width: 12em; */
  transition: all ease-in-out 0.5s;
  /* margin-right: -2rem; */
}

input:hover,
input:focus {
  box-shadow: 0 0 1em #00000013;
}

input:focus {
  outline: none;
  background-color: #f0eeee;
}
@media screen and (max-width: 600px) {
  .maindiv {
    flex-direction: column;
  }
}
